

@charset 'UTF-8'

@import 'core'


//
// Function calls should all be done
// after core has been imported (chain of files)
//

// apply-reset() // full reset less desirable

// apply-normalize()

apply-theme(body, my-children)
    .default-stuff
        color hilight_color

apply-theme(body, 1)

align('both')

