//
// Color chart
//

$White                       = #ffffff
$Black                       = #363636
$Yellow                      = #7A6A42
$Gold                        = #b88d74
$Turquoise                   = #6CBBB8

$Purple                      = #47427A
$Light$Purle                 = #6664a0

$Blue                        = #0183b5
$Light$Blue                  = #0183b5
$Dark$Blue                   = #403e6b

$Red                         = #e31741
$Light$Red                   = #6b4c39

$Brown                       = #6b4c39
$Light$Brown                 = #b88c74

$Grey                        = #e0e0e0
$Light$Grey                  = #f8f8f8
$Dark$Grey                   = #919191

$Orange                      = #F2A34F
$Green                       = #7FC028

