


$Field   = 'Field'

// stem, 1) Infinitive: to disable 2) Participle: disabled
$disable = 'disable' 'disabled'

$success = 'success'

$error   = 'error'

$warning = 'warning'

// Component modifiers as per http://www.youtube.com/watch?v=XQWOKBBJ114
// Implemented as key/value pairs even/odd items of Array
$opposites = ('up' 'down' 'left' 'right' 'primary' 'alternate' 'on' 'off' 'enable' 'disable' 'open' 'close')



