
/*

↤ auto                                                           auto ↦

        gutter                    960px                           
       /___________________________________________________________
      ||(01)|(02)|(03)|(04)|(05)|(06)|(07)|(08)|(09)|(10)|(11)|(12)||
     _||___________________________________________________________||
    / ||    |    |    |    |    |    |    |    |    |    |    |    ||
row 1 ||    |    |    |    |    |    |    |    |    |    |    |    ||
    \_||___________________________________________________________||
    / ||    |    |    |    |    |    |    |    |    |    |    |    ||
row 2 ||    |    |    |    |    |    |    |    |    |    |    |    ||
    \_||____|____|____|____|____|____|____|____|____|____|____|____||
    / ||    |    |    |    |    |    |    |    |    |    |    |    ||
row 3 ||    |    |    |    |    |    |    |    |    |    |    |    ||
    \_||____|____|____|____|____|____|____|____|____|____|____|____||
    / ||    |    |    |    |    |    |    |    |    |    |    |    ||
row 4 ||    |    |    |    |    |    |    |    |    |    |    |    ||
    \_||____|____|____|____|____|____|____|____|____|____|____|____||
      ||    |    |    |    |    |    |    |    |    |    |    |    ||
    02||    |    |    |    |    |    |    |    |    |    |    |    ||
    03||    |    |    |    |    |    |    |    |    |    |    |    ||
    04||    |    |    |    |    |    |    |    |    |    |    |    ||
    05||    |    |    |    |    |    |    |    |    |    |    |    ||
    06||    |    |    |    |    |    |    |    |    |    |    |    ||
                                                                   /
                                                               gutter



*/
