
/* Alignment */
.alignleft {
    float: left;
    margin-right: baselinesize;
}
.alignright {
    float: right;
    margin-left: baselinesize;
}
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}
