

/* Themes: Index
 *
 * It seems like the sane thing to keep some variables here. Keep in
 * mind, any referenced variables need to be loaded already in the file
 * which references this one. 
 *
 */

theme-class-prefix          ?= $Theme

theme-active                = 'Default'

@import theme-active

hilight_color               = $Purple

// Site colors
default-color               = $White
primary-color               = $Red

// Default fonts
font-stack                  = open-sans

font-color                  = $Black

default-mark-list           = '>>'