
// Image location

url()
img()
pad('leukhoor.jpg')

/* but what about other, group paths?
product-images()
product-afbeeldingen()

// no! often we do it like
short-name-images = 'img'
korte-naam-afbeeldingen = 'afb'

// then say
product-img('new_shampoo.jpg')
// even cleaner might be
prd-img('new_shampoo.jpg')
// this implies something like $base-images/products/new_products/shampoo/
//?
img-short-for = 'images'
//?
abbreviations = ('img' 'image') ('prd' 'product')
*/
